In [5]:
# Devoir

In [50]:
import pandas as pd

kundenDf = pd.read_csv('data/kunden.csv', sep = ';')
besucherDf = pd.read_csv('data/besucher.csv', sep = ';')

In [7]:
# 1. Wie viele Autos wurden verkauft?
print(kundenDf.count()) #1104

Alter         1104
Einkommen     1104
Preis         1104
Geschlecht    1099
Zeit          1104
KundeNr       1104
dtype: int64

In [8]:
# 2. Was ist der Höchst-, Mindest- und Durchschnittspreis der verkauften Autos?
preis = kundenDf['Preis']

max = preis.max()
min = preis.min()
mean = preis.mean()

print(f'max = {max}€, min = {min}€, mean = {mean}€') # max = 165482.31, min = 21471.65, mean = 88975.19871376813

max = 165482.31€, min = 21471.65€, mean = 88975.19871376813€

In [9]:
# 3. Wie hoch war der Gesamtumsatz?
sum = round(preis.sum(), 2)

print(f'sum = {sum}€') # 98228619.38

sum = 98228619.38€

In [72]:
# 4. Wie viele Autos wurden pro Bundesland verkauft?
subs = [['NRW', 'Nordrhein-Westfalen'], ['Berlin-Charlottenburg', 'Berlin'], ['BERLIN', 'Berlin'], ['Berlin-Mitte', 'Berlin']]

kundeBundesland = pd.read_csv('data/geo.txt', sep = '\t')

for sub in subs:
    kundeBundesland['Niederlassung'] = kundeBundesland['Niederlassung'].replace(sub[0], sub[1])

kundeBundesland.groupby(by = 'Niederlassung').count()
    
# Sachsen: 162
# Nordrhein-Westfalen: 325
# Hessen: 165
# Bayern: 338
# Baden-Württemberg: 382
# Berlin: 236
# Niedersachsen: 169
# Brandenburg: 60
# Thüringen: 89
# Hamburg: 67
# Düsseldorf: 2

                     KundeNr
Niederlassung
Baden-Württemberg        382
Bayern                   338
Berlin                   236
Brandenburg               60
Düsseldorf                 2
Hamburg                   67
Hessen                   165
Niedersachsen            169
Nordrhein-Westfalen      325
Sachsen                  162
Thüringen                 89

In [56]:
# 5. Wie hoch war der durchschnittliche Umsatz pro Bundesland?
subs = [['NRW', 'Nordrhein-Westfalen'], ['Berlin-Charlottenburg', 'Berlin'], ['BERLIN', 'Berlin'], ['Berlin-Mitte', 'Berlin']]

kundeBundesland = pd.read_csv('data/geo.txt', sep = '\t')

for sub in subs:
    kundeBundesland['Niederlassung'] = kundeBundesland['Niederlassung'].replace(sub[0], sub[1])

    
kundenDfMerged = pd.merge(kundenDf, kundeBundesland, on = 'KundeNr')   
print(kundenDfMerged[['Preis', 'Niederlassung']].groupby(by = 'Niederlassung').mean())

                             Preis
Niederlassung
Baden-Württemberg     90969.560000
Bayern                89344.313245
Berlin                89584.984048
Brandenburg           86673.640811
Düsseldorf           120215.500000
Hamburg               85549.499070
Hessen                85864.929479
Niedersachsen         87963.312500
Nordrhein-Westfalen   88451.758103
Sachsen               89455.080674
Thüringen             90816.994082

In [58]:
# 6. Haben mehr Frauen oder mehr Männer unsere Autos gekauft?

kundenDf.groupby(by = 'Geschlecht').count()

# 0 = Frau 398
# 1 = Mann 701

            Alter  Einkommen  Preis  Zeit  KundeNr
Geschlecht
0.0           398        398    398   398      398
1.0           701        701    701   701      701

In [60]:
# 7. Wie hoch ist das Durchschnittsalter unserer Kunden?

round(kundenDf['Alter'].mean()) # 50

50

In [63]:
# 8. Wie hoch ist das Durchschnittsalter der Besucher in unseren Showrooms?

round(besucherDf['Alter'].mean()) # 50

50

In [66]:
# 9. Was ist das Durchschnittsalter unserer männlichen Kunden?

kundenDf[['Geschlecht', 'Alter']].groupby(by = 'Geschlecht').mean() # 50

                Alter
Geschlecht
0.0         50.346734
1.0         50.523538

In [73]:
# 10. Wie hoch ist das Durchschnittseinkommen unserer Kunden?

einkommenMean = round(kundenDf['Einkommen'].mean(), 2)

print(f'einkommen mean = {einkommenMean}€')

einkommen mean = 964474.82€